.page_contact {
	
	.title_text_block_G {
		font-size: $font-size-lg;
		font-weight: $font-weight-semibold;
		margin-bottom: $spacer;
		margin-top: $spacer * 2;
		font-family: $font-family-sans-serif;
	}
}

