.page_issue {
	background: $gray-bg;
	
	.title_page_G {
		margin-top: $spacer * 3;
		font-weight: $font-weight-semibold;
		font-size: $h2-font-size;

	}

	.issue_keywords_block {
		margin-top: $spacer * 4;
	}

	.heading {
		padding-top: $spacer * 2;
		padding-bottom: $spacer * 2;
	}

	.cmp_breadcrumbs {
		ol {
			margin-bottom: 0;
		}
	}
}
