.page_issue_archive {
	background: $gray-bg;

	.title_page_G {
		margin-top: $spacer * 2;
		margin-bottom: $spacer * 2;
		text-align: center;
		font-weight: $font-weight-semibold;
	}

	.cmp_pagination {
		text-align: center;
		margin-top: $spacer * 2;
	}
}


/* Axustes páxina body */

.pkp_page_issue {
	.pkp_structure_head {
		&.is-desktop {
			background: $gray-bg;
		}
	}
}