.page_login {
	background: $gray-bg;
	padding-bottom: $spacer * 4;

	.title_page_G {
		font-size: $h2-font-size;
		font-weight: $font-weight-semibold;
	}

	.btn-link {
		margin-left: $spacer / 2;
	}
}


/* Axustes páxina coa clas do body */

.pkp_page_login {
	.pkp_structure_head {
		&.is-desktop {
			background: $gray-bg;
		}
	}
}