.page_submissions {
	.title_page_G {
		margin-top: $spacer * 2;
		font-weight: $font-weight-semibold;
	}

	.title_text_block_G {
		font-size: $font-size-lg;
		font-weight: $font-weight-semibold;
		margin-bottom: $spacer * 2;
		margin-top: $spacer * 3;
		font-family: $font-family-sans-serif;
	}
}


