.obj_article_details {

	.header_article_wrapper_G {
		margin-top: $spacer * 3;
		margin-bottom: $spacer * 3;
	}

	.page_title {
		font-size: $h2-font-size;
		line-height: $line-height-xs;
		font-weight: $font-weight-semibold;
	}

	.subtitle {
		font-family: $font-family-sans-serif;
		margin-bottom: $spacer * 3;
		font-size: $h5-font-size;
	}

	.sub_header_wrapper_G {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		padding-top: $spacer;
		margin-top: $spacer * 2;
		padding-bottom: $spacer;

		.share_block {
			text-align: left;
			margin-top: $spacer;

			@include media-breakpoint-up(md) {
				text-align: right;
				margin-top: 0;
			}
		}
	}

	.main_entry {
		padding-bottom: $spacer;
	}

	.meta_wrapper_G {
		display: flex;
	}

	.item {
		padding-bottom: $spacer;

		&.has_border_G {
			&:before {
				content: '';
				width: $spacer * 10;
				background: $border-color;
				display: block;
				margin-bottom: $spacer * 2;
				padding: .025rem;
			}
		}
		
		.label {
			font-size: $font-size-lg;
			font-weight: $font-weight-medium;
		}

		.sub_item {
			+ .sub_item {
				margin-top: $spacer * 2;
			}

			.label {
				font-weight: $font-weight-semibold;
				font-size: $font-size-base;
				font-family: $font-family-sans-serif;
			} 
		}
	}


	.issue {
		font-size: $font-size-sm-alt;
		line-height: $line-height-sm;
		text-transform: uppercase;
		margin-bottom: $spacer;
		padding-bottom: 0;
	}

	.doi, 
	.published,
	.authors {
		margin-top: 0;
		padding-bottom: 0;
		
		.label {
			font-family: $font-family-sans-serif;
			font-size: $font-size-base;
			display: inline-block;
			font-weight: $font-weight-semibold;
		}
	}

	.doi {
		margin-left: $spacer / 2;
	}

	.supporting_agency {
		ul {
			@include list-unstyled();
		}
	}

	.copyright {
		img {
			margin-top: $spacer;
			margin-bottom: $spacer;
		}
	}

	.cover_image {
		margin-top: $spacer;
	}

	.galleys {
		margin-top: $spacer;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.authors,
	.authors_list {
		.label {
			display: inline-block;
		}

		.btn-link {
			margin-bottom: $spacer;
		}

		ul.authors {
			@include list-unstyled();
			display: inline-block;
			margin-bottom: 0;
			margin-right: $spacer / 2;

			li {
				display: inline-block;

				.affiliation {

					&:before {
						content: '|';
						padding-left: $spacer / 4;
					}
				}

				.orcid {
					padding-left: $spacer * 2;
					background: url(../img/logo_orcid.svg) no-repeat;
					background-size: 22px;
					margin-top: $spacer / 2;
					height: 22px;
					padding-left: 1.35rem;
					display: inline-block;
  					margin-bottom: -.35rem;
				}
			}
		}
	}

	// nome autor en bold dentro de modal
	.authors_list {
		.authors {
			.name {
				font-weight: $font-weight-semibold;
			}
		}
	}

	.citation {
		.citation_display {
			.citation_formats {
				margin-top: $spacer * 2;

				.citation_formats_button {
					background: $white;
					border: 1px solid $black;
					padding: $spacer / 2  $spacer;

					.bi {
						padding-left: $spacer * 2;
					}
				}

				.citation_formats_list {
					padding: $spacer;

					.citation_formats_styles {
						@include list-unstyled();

						li {
							a {
								color: $black;
							}
						}
					}
				}
			}
		}
	}

	.item.downloads_chart {
		.label {
			margin-bottom: $spacer * 3;
		}

		&:before {
			content: '';
			width: $spacer * 10;
			background: $primary;
			display: block;
			margin-bottom: $spacer * 2;
			padding: .05rem;
		}
	}

	.item.references {
		height: 400px;
		overflow: scroll;
	}
}



// poner clase si se puede
#articlesBySameAuthorList {
	margin-top: $spacer * 2;
	
	&:before {
		content: '';
		width: $spacer * 10;
		background: $primary;
		display: block;
		margin-bottom: $spacer * 2;
		padding: .05rem;
	}
	
	h3 {
		font-size: $font-size-lg;
		font-weight: $font-weight-medium;
	}

	ul {
		@include list-unstyled();
	}
}







