.obj_article_summary {
	border-radius: $spacer;
	background: $white;
	padding: $spacer * 2;
	height: 100%;
	box-shadow: 8px 8px 0 #e3dacf;
	display: flex;
	flex-direction: column;

	.title {
		font-size: $h5-font-size;
		line-height: $line-height-sm;

		a {
			text-decoration: none;
			color: $black;

			&:hover,
			&:focus,
			&:active {
				opacity: .5;
			}
		}
	}

	.meta {
		flex: 1 1 auto;
	}

	.footer {
		margin-top: $spacer * 2;

		.arrow-link {
			font-size: $h2-font-size;
			color: $black;

			&:hover,
			&:focus,
			&:active {
				color: $primary;
			}
		}
	}
}