.obj_issue_summary {
	background: $white;
	padding: $spacer * 1.5;
	height: 100%;
	border-radius: $spacer;

	.cover {
		border: 1px solid $primary;
		background: $primary-dark;
		
		img {
			padding: 3rem;
		}
	}

	.title {
		font-size : $font-size-md;
		font-weight: $font-weight-medium;
		margin-top: $spacer;

		a {
			text-decoration: none;
			color: $black;

			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}
	}

	.published {
		color: $black;
	}

	.btn {
		margin-top: $spacer;
	}
}
