.issue_keywords_block {
	margin-top: $spacer * 2;
	padding: $spacer * 2;
	background: $primary;
	
	.title {
		font-size: $h4-font-size;
		color: $white;
		font-family: $font-family-sans-serif;
	}

	.keywords-list {
		@include list-unstyled();

		li {
			a {
				color: $white;
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					opacity: .5;
				}
			}
		}
	}
}


