.obj_issue_toc {
	.heading {		
		.title_G {
			font-size: $h5-font-size;
			font-weight: $font-weight-semibold;
			margin-top: $spacer;
		}

		.galleys_links {
			> li {
				.obj_galley_link {
					background: $primary;
					color: $white;
					font-size: $font-size-lg;
					padding: $spacer / 2 $spacer * 2;
					border-bottom: 0;
					border-radius: 6px;
					
					&:hover {
						background: $primary-dark;
					}
				}
			}
		}
	}
}
